@{
    ViewBag.Title = "personal_chk";
}

<div class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1 class="b_icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></h1>
            </div><!--close col-->
        </div><!--close row-->


    </div><!--close container-->
</div><!--close slider-->

<div class="section">
    <div class="sec-2">
        <div class="container">


            <div class="col-md-12 col-sm-12">
                <p style="font-size:18px; color:#00385c; font-weight:bold">Personal Check</p>
                <table id="Bank_table" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Check Name</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Check Name</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in ViewBag.pc)
                        {
                            <tr>
                                <td>@item.personal_check</td>
                                <td>@item.amount</td>
                                <td>@item.price</td>
                                <td>
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#buy">BUY</button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>










<!-- Modal -->
<div id="buy" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                <form>
                    <label>Name</label>
                    <input class="form-control" type="text" name="name" />

                    <label>Address</label>
                    <input class="form-control" type="text" name="address" />

                    <label>City</label>
                    <input class="form-control" type="text" name="city" />

                    <label>State</label>
                    <input class="form-control" type="text" name="state" />

                    <label>Zip Code</label>
                    <input class="form-control" type="text" name="code" />

                    <label>Amount</label>
                    <input class="form-control" type="text" name="amount" />
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" style="width:100%; height:50px; background-color: #00385c; color: #fff; outline: none" value="Send" />

            </div>
        </div>

    </div>
</div>
<script>

    $(document).ready(function () {
        // $.noConflict();

        $('#Bank_table').DataTable();
    });
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
</script>
