@using ZagaZaga.GoUrlCore
@model ZagaZaga.Models.GoUrl.DisplayCryptoboxModel
@{
    ViewBag.Title = "Index";
}

<div class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p style="font-size:35.08px; color:#FFFFFF; text-align:center">WELCOME TO THE</p>
                <p style="font-size:105.08px; color:#cc997f;font-weight:bold; text-align:center">ZAGA ZAGA</p>
            </div><!--close col-->
        </div><!--close row-->

        <div class="sld-inner">
            <div class="row">

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">BitCoin</h4>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="/images/btc.png" height="60" alt="">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="btcForm" name="btcmoney" action="" method="post">
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="hidden" id="uid" name="uid" value="m_webziner">
                                            <input class="form-control" type="text" id="block_btc" name="block_btc" value="">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">Pay!</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">PerfectMoney</h4>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="/images/pmbig.png" height="60" width="200" alt="">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @*<form class="pmForm" name="pmmoney" action="/AddMoney/PerfectMoney" method="post">*@
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input class="form-control" type="text" id="block_pm" name="block_pm">
                                        <span class="input-group-btn">
                                            @*<input type="submit" class="btn btn-default" value="Pay!" />*@
                                            <input type="button" class="btn btn-default" value="Pay!" onclick="alert('Perfect money api is not responding...')" />
                                        </span>
                                    </div>
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!--close sld-inner-->

    </div><!--close container-->
</div><!--close slider-->


<div class="section">
    <div class="sec-2">
        <div class="container">

            <div class="row">
                @if (ViewBag.Message != "")
                    {
                    @Html.Cryptobox(Model)
                    @Html.Raw(ViewBag.Message);
                    }
            </div>


        </div>
    </div>
</div>
