@{
    ViewBag.Title = "Index";
}

<form method="post">
    <label>BItcoin</label>
    <input type="text" name="price" />

    <button type="submit" name="submit">Submit</button>

    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Last Payment</th>
                <th>Date</th>
                <th>Transaction ID</th>
                

            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.trans)
            {
                <tr class="odd gradeX">
                    <td>@item.last_payment</td>
                    <td>@item.date</td>
                    <td>@item.transaction_id</td>
                   

                </tr>
            }
        </tbody>
    </table>



</form>